<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>登录页面</title>
<link rel="stylesheet" type="text/css" href="view/Home/Css/login.css">
</head>
<body>
<div id="login">
<h3>用户登录表</h3>
<form action="index.php?group=Home&module=Student&act=check_login" method="post">
姓名：<input type="text" name="stu_name">&nbsp;【<span id="name">请输入您的姓名</span>】<br/><br/>
学号：<input type="text" name="stu_xuehao">&nbsp;【<span id="xuehao">请输入您的学号</span>】<br/><br/>

<input type="submit" value="登录">
<input type="reset" value="重置">


</form>
</div>
</body>
</html>